<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" >
             <div class="mb-4">
                <label for="email-address" class="block text-gray-700 font-bold mb-2" for="username">Email address</label>
                <input id="email-address" name="email" type="email" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Email address">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 font-bold mb-2" for="password">Password</label>
                <input id="password" name="password" type="password" required  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Password">
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="btn-primary py-2 px-4 text-sm font-medium rounded-full text-white font-bold  focus:outline-none focus:shadow-outline">
                    Login
                </button>    
                <a href="/register" class="inline-block align-baseline font-bold text-sm">
                    Don't have account?
                </a>
            </div>
          </form>
        </div>
</section>